<div class="row">

    @if (TempData.ContainsKey(AppointmentScheduler.Utility.Helper.TempDataNewCreatedUserName))
    {
        <div class="container">
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
                <strong>User @TempData[AppointmentScheduler.Utility.Helper.TempDataNewCreatedUserName].ToString() was created.</strong>
            </div>
        </div>
    }

    <div class="container">
        @if (User.IsInRole(AppointmentScheduler.Utility.Helper.Admin))
        {
            <div class="form-group row" id="divServiceProviderList">
                <label>Select @AppointmentScheduler.Utility.Helper.ServiceProvider</label>
                @Html.DropDownList("serviceProviderId", new SelectList(ViewBag.ServiceProviderList, "Id", "Name"), new
                { @class = "form-control select2", @onchange = "onServiceProviderSelection();" })
            </div>
        }
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditAppointment" />